# WhatsBro TNService - Environment Variables Template
# Copy this file to '.env' and populate with your own configurations.

# Google Apps Script Web App Deployment Endpoint URL
VITE_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbydsSUMZDI5nhm-WYIFArnVLvZMtc4aPOGXqWw7L-DO68Hwj_yp1USrMeJyzo9ws8Dt/exec