# WhatsBro TNService - Environment Variables Template
# Copy this file to '.env' and populate with your own configurations.

# Google Apps Script Web App Deployment Endpoint URL
VITE_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbyjD9vYc0S1LFu3VWuBo4PZsNzYTB2yEbVnvxWUNyGolSw-xdgBOKed1p68Ov0c8wE8/exec